body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
}

section{
  padding:100px 20px;
}

.container{
  max-width:1100px;
  margin:auto;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}

html {
  scroll-behavior: smooth;
}
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}