.skills{
  text-align:center;
  padding:50px 20px;
}

.skills h2{
  font-size:40px;
  margin-bottom:30px;
}

.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
  max-width:900px;
  margin:auto;
}

.skill-card{
  background:#1e293b;
  padding:20px;
  border-radius:10px;
  transition:0.3s;
}

.skill-card:hover{
  transform:translateY(-5px);
}